.interest {
    padding-left: 210px;
    padding-top: 135px;
    font-weight: bold;
}

.apart {
    padding-left: 225px;
    padding-top: 20px;
}

.when {
    padding-left: 225px;
    padding-top: 20px;
}