.skills {
    padding-top: 50px !important;
    padding-left: 220px;
    font-weight: bold;
}

.programming {
    padding-top: 50px;
    padding-left: 220px !important;
}

.list1 {
    float: left;
    width: 40%;
    padding-left: 210px;
    padding-top: 10px;
}

.list2 {
    float: right;
    width: 50%;
    padding-top: 25px;
    padding: 15px 120px;
}

.list-1:before {
    content: "\2705" !important;
    margin-right: 5px;
}

.list-2:before {
    content: "\2705" !important;
    margin-right: 5px;
}